body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vh;*/
    /*background-image: url("img/desert2.png");*/
    background-position: center;

}

canvas {
    background-color: black;

}